.body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 100vw;
  padding: 10%;
  font-family: var(--font-IBM-Regular);
  background-image: url("../components/img/cat.png");
  background-repeat: no-repeat;
  background-position: left 200px top 250px;
  background-size: 350px;
}

.mainbox {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-right: 350px;
  font-size: 3rem;
}

.rowbox {
  display: grid;
  flex-direction: column;
  justify-content: start;
  grid-template-columns: 1fr 1fr;
}

.flexbox {
  display: grid;
  justify-content: start;
  grid-template-rows: 1fr 1fr;
}

.title {
  font-family: var(--font-IBM-Regular);
  font-size: 1.5rem;
  color: slategrey;
  list-style: none;
  padding: 0.5rem;
}

.text {
  font-family: var(--font-poorStory-Regular);
  font-size: 2rem;
  font-weight: 900;
  list-style: none;
  padding: 0 0.5rem 0.5rem;
}
