.mainbox {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 5% 20%;
  font-family: var(--font-poorStory-Regular);
  background-image: url("../components/img/cat.png");
  background-repeat: no-repeat;
  background-position: left 15% top 50%;
  background-size: 20%;
}

.titleframe {
  margin-top: 10%;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
}

.titlebox0 {
  font-size: 2.5rem;
}

.titlebox1 {
  padding-bottom: 2rem;
  font-weight: 900;
}

.titlebox2 {
  display: flex;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: white;
}

.titlebox3 {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 5rem;
}

.titlebox4 {
  font-size: 2rem;
  color: #2a797d;
}
