.body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10%;
  font-family: var(--font-IBM-Regular);
}

.mainbox {
  text-align: center;
  padding: 5% 0;
  font-size: 3rem;
}

.gridbox {
  display: grid;
  justify-content: center;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: rgba(240, 248, 255, 0.523);
  border: 1px dashed;
  border-radius: 10px;
}
